absl-py==0.8.1
agenda==1.0.2
allennlp==1.1.0
asdl==0.1.5
astor==0.7.1
astunparse==1.6.3
atomicwrites==1.4.0
attrs==18.2.0
Babel==2.7.0
backcall==0.2.0
blis==0.4.1
boto==2.49.0
boto3==1.15.6
botocore==1.18.6
bottle==0.12.19
bpemb==0.2.12
catalogue==1.0.0
certifi==2019.9.11
chardet==3.0.4
clang==11.0
Click==7.0
colorama==0.4.1
contextlib2==0.6.0.post1
coverage==5.3
cycler==0.10.0
cymem==2.0.3
Cython==0.29.21
decorator==4.4.2
dill==0.3.3
Distance==0.1.3
docutils==0.15.2
filelock==3.0.12
future==0.18.2
gast==0.2.2
gensim==3.8.0
google-pasta==0.1.8
graphviz==0.15
grpcio==1.24.3
h5py==2.10.0
hyperopt==0.1.2
idna==2.8
imageio==2.9.0
importlib-metadata==2.0.0
iniconfig==1.0.1
instaviz==0.6.0
ipdb==0.13.4
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
jieba==0.39
Jinja2==2.11.2
jmespath==0.9.4
joblib==0.14.0
json-tricks==3.15.4
jsonpatch==1.24
jsonpickle==1.4.1
jsonpointer==2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
murmurhash==1.0.2
neobolt==1.7.15
neotime==1.7.4
netifaces==0.10.9
networkx==2.5
nltk==3.4.4
nni==1.9
numpy==1.17.3
opencv-contrib-python==4.4.0.46
opennre==0.1
opt-einsum==3.1.0
overrides==3.1.0
packaging==20.4
pandas==0.25.1
parso==0.7.1
pickleshare==0.7.5
Pillow==6.1.0
pkginfo==1.6.1
plac==1.1.3
pluggy==0.13.1
preshed==3.0.2
progressbar==2.5
prompt-toolkit==2.0.10
protobuf==3.10.0
psutil==5.7.3
py==1.9.0
py2neo==4.3.0
py4j==0.10.7
Pygments==2.3.1
pygraphviz @ file:///C:/Users/80655/Downloads/pygraphviz-1.6-cp37-cp37m-win_amd64.whl
pymongo==3.11.2
PyMySQL==0.10.0
pyparsing==2.4.2
pyspark==2.4.4
pytest==6.1.0
python-dateutil==2.8.0
PythonWebHDFS==0.2.3
pytz==2019.2
PyYAML==5.3.1
pyzmq==18.1.0
regex==2019.8.19
requests==2.22.0
responses==0.12.1
rouge==1.0.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
sacremoses==0.0.35
schema==0.7.3
scikit-learn==0.23.2
scipy==1.2.1
sentencepiece==0.1.83
simplejson==3.17.2
six==1.12.0
sklearn==0.0
smart-open==1.8.4
spacy==2.3.2
sqlparse==0.3.1
srsly==1.0.2
subword-nmt==0.3.6
tensorboard==1.15.0
tensorboardX==2.1
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
thinc==7.4.1
threadpoolctl==2.1.0
tokenizers==0.8.1rc1
toml==0.10.1
torch==1.7.1+cpu
torchaudio==0.7.2
torchfile==0.1.0
torchvision==0.8.2+cpu
tornado==6.0.3
tqdm==4.36.1
traitlets==5.0.5
transformers==3.0.2
typing-extensions==3.7.4.3
urllib3==1.23
visdom==0.1.8.9
wasabi==0.8.0
wcwidth==0.1.7
websocket-client==0.56.0
websockets==8.1
Werkzeug==0.16.0
wget==3.2
wordninja==2.0.0
wrapt==1.11.2
zipp==3.2.0
